.App {
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  outline: none;
  font: bold 10pt;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}

hr.main {
  border-top: 2px solid red;
}

hr.secondhr {
  border-top: 1px solid;
}

.id {
  width: 10%;
}

.title {
  width: 30%;
}

.description {
  width: 60%;
}